# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
recordings/*

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
phpMyAdmin/*
phpmyadmin/*
error_log
.ftpquota
files/
